* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

:root {
    --primary-color: #fcfcfc;
    --secondary-color: #22be6b;
    --text-color: #22be6b;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e0e0e0;
    color: var(--text-color);
    padding: 40px 0;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    background-color: var(--primary-color);
    border-radius: 16px;
    padding: 30px 20px;
    margin: auto;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.header h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--text-color);
}

.header-divider {
    width: 90%;
    height: 1px;
    background-color: var(--text-color);
    border: none;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: rgba(34, 33, 33, 0.575);
    gap: 15px;
    margin-bottom: 20px;
}

.inputs h3 {
    font-size: 14px;
    margin-bottom: 30px;
}

.range {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.range label {
    font-size: 14px;
    font-weight: bold;
    color: rgba(34, 33, 33, 0.4);
}

#range1,
#range2 {
    -webkit-appearance: none;
    width: 90%;
    appearance: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

#range1::-webkit-slider-runnable-track,
#range2::-webkit-slider-runnable-track {
    height: 20px;
    background: #ccc;
    border-radius: 16px;
}

#range1::-moz-range-track,
#range2::-moz-range-track {
    height: 20px;
    background: #ccc;
    border-radius: 16px;
}

#range1::-webkit-slider-thumb,
#range2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    box-shadow: -407px 0 0 400px var(--secondary-color);
}

#range1::-moz-range-thumb,
#range2::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    box-shadow: -407px 0 0 400px var(--secondary-color);
}

.Insight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.Insight h3,
.Insight h3 span {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#status {
    color: var(--text-color);
    padding: 10px;
    min-height: 40px;
}

button {
    width: 60%;
    height: 50px;
    background-color: rgb(223, 103, 59);
    color: var(--primary-color);
    font-weight: bold;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
}

button:active {
    transform: scale(0.95);
}


@media screen and (min-width: 768px) {
    .container {
        width: 30%;
        max-width: none;
        min-height: auto;
        margin: auto;
        padding: 40px;
        gap: 20px;
    }

    .Insight {
        padding: 40px 20px;
        min-height: 180px;
    }

    .header h3 {
        font-size: 20px;
    }

    .inputs h3 {
        font-size: 16px;
    }

    .range label {
        font-size: 16px;
    }

    .Insight h3,
    .Insight h3 span {
        font-size: 22px;
    }

    button {
        width: 50%;
        height: 50px;
        font-size: 16px;
    }
}